
Projeto\.Application/bin/

Projeto\.Application/obj/

Projeto\.Domain/bin/


Projeto\.Domain/obj/

Projeto\.Infra\.Data/bin/


Projeto\.Infra\.Data/obj/
Projeto\.Presentation\.Api/bin/


Projeto\.Presentation\.Api/obj/

packages/

.vs/

*.ldf

.nuget/

