
Projeto\.Application/bin/Debug/


Projeto\.Application/obj/Debug/


Projeto\.Domain/obj/Debug/


Projeto\.Infra\.Data/bin/

\.gitIgnore\.txt


Projeto\.Domain/bin/
Projeto\.Infra\.Data/obj/Debug/

Projeto\.Presentation\.Api/bin/

Projeto\.Presentation\.Api/obj/Debug/
