<h2>Cadastro de Estoque</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <label>Nome Do Estoque:</label>
        <input type="text" class="form-control" placeholder="Nome do Estoque" ng-model="model.Nome" />
        <br />
        <button class="btn btn-success" ng-click="cadastrar()">
            Cadastrar Estoque
        </button>
        <br />
        <div class="alert alert-success" ng-show="sucesso"><strong>{{sucesso}}</strong></div>
        <div class="alert alert-danger" ng-show="erro"><strong>{{erro}}</strong></div>
    </div>
</div>